// Normalize.css
@import 'normalize.css';

// Roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  box-sizing: border-box;
}

#app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .content {
    flex: 1;
    background-color: #f5f5f5;
  }
}
